body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgba(74, 122, 255, 1);
  background: linear-gradient(166deg, rgba(74, 122, 255, 1) 0%, rgba(24, 179, 235, 1) 20%, rgba(52, 107, 115, 1) 40%, rgb(16, 107, 181) 60%, rgba(0, 132, 158, 1) 80%, rgba(58, 98, 214, 1) 100%) fixed;
    
  overflow: hidden;
}

